{% extends "bare.html" %}

{% block container %}

<div class="container-fluid">
     {% if alert and message %}
     <div class="alert alert-{{ alert }}">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         {{ message }}
     </div>
     {% endif %}
	<div class="row-fluid">
		<div class="span2">
			{% block sidebar %}
			{% endblock sidebar %}
		</div>
		<div class="span10">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
</div>
 {% endblock container %}