{% extends "email/template.html" %}

{% block title %}Thank you!{% endblock title %}
{% block body %}
You've been removed from the "<a href="http://faculty.bishopblanchet.org{{
    event.get_absolute_url }}"/>{{ event.name }}</a>" event on {{ event.date }}!
<br>
We are no longer asking you to chaperone at this event.

This event was worth {{ event.weight }} service requirement unit{{ event.weight|pluralize }}
<br >
The event administrator is <b><a href="http://faculty.bishopblanchet.org{{ event.admin.get_absolute_url }}">{{ event.admin }}</a></b>
<br>
<hr>

<div class="well">
{{ event.get_description | safe}}</div>
{% endblock body %}
