{% extends "base_alt.html" %}

{% block title %}Chaperone System | BBHS{% endblock title %}

{% block style %}
    .form_container {
        width: 500px;
        clear: both;
    }
    .form_container input {
        width: 100%;
        clear: both;
    }
    
    .form_container select {
        width: 103%;
        clear: both;
    }
  
{% endblock style %}

{% block head %}
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
  
{% endblock head %}
{% block script %}
    <script type="text/javascript"
       src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
     </script> 
     <script type="text/javascript"
-     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
-    </script>
-    <script type="text/javascript"
      src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
     </script> 
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'MM/dd/yyyy HH:mm:ss PP',
        language: 'en-us',
        pick12HourFormat: true
      });

	i = 1;
	function addInputs() {
		main = document.getElementById('dates');
		child = document.createElement('input');
		child.setAttribute('type', 'text');
		child.setAttribute('name', 'date' + i.toString());
		main.appendChild(child);
		i += 1;
	}
	
    </script>
{% endblock script %}


{% block body %}
<form action="/chaperone/addEvent/" method="POST">
<fieldset>
<legend>Create an Event</legend>
{% csrf_token %}
<div class="row">
	<div class="span7">
		<div class="form_container"
			<label>Event Name</label>
			<input type="text" name="eventName"><br />
			
			<label>Admin</label>
			<select name="admin">
				{% for admin in admins %}
				<option value="{{ admin.pk }}">{{ admin }}</option>
				{% endfor %}
			</select>
			
			
			<label>Date</label>
			    <div id="datetimepicker" class="input-append date">
			      <input type="text" style="width:95%;clear:both;" name="date"></input>
			      <span class="add-on">
			        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			      </span>
			    </div>
			<div id="dates">    
			</div>
			<input type="button" style="" value="Add more dates" onclick="addInputs()">
			    
			<label>Volunteers Needed (Enter a number: 4 not four)</label>
			<input type="number" name="volunteers"><br />
		</div>
	</div>
	<div class="span5">
		<label>Event Description</label>
		<textarea style="width: 350px; height: 175px;" placeholder="Describe your event!" name="desc"></textarea>
		<br />
		
		<label><input type="checkbox" name="markdown" value="true" /> Markdown</label>
	</div>
</div>

<input type="submit" value="Submit!">
</fieldset>
</form>
{% endblock body %}
