{% extends "base.html" %}

{% block title %}Chaperone Sign up | BBHS {% endblock title %}

{% block body %}

<h1> {{ event.name }} </h1>

{% if event.expired %}
<h4 style="font-family:verdana;color:red;"> Warning: This event has already taken place </h4>
{% endif %}

<h5> Description </h5>
<p>
{{ event.description }}
</p>

<!-- Needs to
    + Display all information about the event
    + Have a form for signing up the user
    + Have a form for removing the user (maybe auth)
    + Have contact information for the administrator
        - Maybe a "Contact Me" form
    + Good design - use twitter bootstrap
    -->

{% endblock body %}
