{% extends "base.html" %}

{% block body %}

<b>{{ title }}</b> <br> <br>

  <table class="table table-bordered">
     <thead>
       <tr>
         <th>User</th>
         <th>Yearly Events Needed</th>
         <th>Yearly Events Done</th>
         <th>Total Events Done</th> 
       </tr>
     </thead>
     <tbody>
{% for user in users %}
			<tr>
				<td><a href="{{ user.get_absolute_url }}">{{ user }}</a></td>
				<td>{{ user.eventsNeeded }}</td>
				<td>{{ user.eventsDoneSoFar }}</td>
				<td>{{ user.eventsDone }}</td>
			</tr>
{% endfor %}
     </tbody>
   </table>
   
			<form action="/chaperone/groupUserReport/">
				<select name="groupReportType" style="width: 75%;">
				  <option value="completed">Have completed their requirement</option>
				  <option value="unCompleted">Have not completed their requirement</option>
				  <option value="all">All users who have a requirement</option>
				</select>
				<br>
				<input type="submit">
			</form>

{% endblock body %}