{% extends "base.html" %}

{% block title %}Chaperone System | BBHS{% endblock title %}

{% block body %}
<h1>Welcome to the Chaperone system!</h1>

{% if user.is_authenticated %}
<b> You are authenticated!</b><br>
{% endif %}


<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th class="numeric">Admin</th>
            <th class="numeric">Date</th>
            <th class="numeric">Volunteers Needed</th>
            <th class="numeric">Volunteers Registered</th>
            <th class="numeric">Description</th>
        </tr>
    </thead>
 

    <tbody>
{% for event in events %}
        <tr>

            <td>{{ event.name }}</td>
            <td>{{ event.admin }}</td>
            <td>{{ event.date }}</td>
            <td>{{ event.volunteersNeeded }}</td>
            <td>{{ event.volunteersRegistered }}</td>
            <td>{{ event.description }}</td>
 
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock body %}
