{% extends "base.html" %}

{% block body %}

<legend>{{ user.get_full_name }} ({{ user.username }})</legend>

{% firstof user.get_full_name user.username %} has {{ count }} event{{ count|pluralize }}
{% if start and end %}
from {{ start }} to {{ end }}
{% endif %}

<ul>

</ul>

           <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Events</th>
                  <th>Dates</th>
                  <th>Weight</th>
                  <th>Event Admin</th>
                  <th>Already happened?</th>
                </tr>
              </thead>
              <tbody>
{% for event in events %}
						<tr>
							<td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
							<td>{{ event.date }}</td>
							<td>{{ event.weight }}</td>
							<td>{{ event.admin }}</td>
							<td>{{ event.expired }}</td>
						</tr>
{% endfor %}
              </tbody>
            </table>

{% endblock body %}