{% extends "base.html" %}

{% block body %}

<legend>{{ user.user.get_full_name }} ({{ user.user.username }})</legend>

<b>Original requirement this year:</b> {{ user.original_requirement }}<br>
<b>Event units still needed this year:</b> {{ user.eventsNeeded}}<br>
<b>Event units completed this year:</b> {{ user.eventsDoneSoFar }}<br>
<b>Total events completed:</b> {{ user.eventsDone }}<br>


<br>
<p>
Displaying {{ count }} event{{ count|pluralize }} of {% firstof user.user.get_full_name user.user.username %}
{% if start and end %}
from {{ start }} to {{ end }}
{% endif %}
</p>


           <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Events</th>
                  <th>Dates</th>
                  <th>Weight</th>
                  <th>Event Admin</th>
                  <th>Already happened?</th>
                </tr>
              </thead>
              <tbody>
{% for event in events %}
						<tr>
							<td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
							<td>{{ event.date }}</td>
							<td>{{ event.weight }}</td>
							<td>{{ event.admin }}</td>
							<td>{{ event.expired }}</td>
						</tr>
{% endfor %}
              </tbody>
            </table>

{% endblock body %}