{% extends "base.html" %}

{% block body %}

{% if user.get_full_name %}
<h1>{{ user.get_full_name }}</h1>
{% else %}
<h1>{{ user}}</h1>
{% endif %}

<!-- Add info about user and his or her events -->
<h3>Registered events</h3>
{% if events %}
<ul>
    {% for event in events %}
    <li>
    {% if event.expired %}
    <p style="font-family:verdana;color:red;">Expired</p>
    <a href="{{ event.get_absolute_url }}">{{ event }}</a></li>
    {% else %}
    <a href="{{ event.get_absolute_url }}">{{ event }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>No registered events!</p>
{% endif %}

<h3>Bio</h3>
<!--
   username = models.CharField(_('username'), max_length=30, unique=True,
        help_text=_('Required. 30 characters or fewer. Letters, numbers and '
                    '@/./+/-/_ characters'),
        validators=[
            validators.RegexValidator(re.compile('^[\w.@+-]+$'), _('Enter a valid username.'), 'invalid')
        ])
    first_name = models.CharField(_('first name'), max_length=30, blank=True)
    last_name = models.CharField(_('last name'), max_length=30, blank=True)
    email = models.EmailField(_('email address'), blank=True)
    is_staff = models.BooleanField(_('staff status'), default=False,
        help_text=_('Designates whether the user can log into this admin '
                    'site.'))
    is_active = models.BooleanField(_('active'), default=True,
        help_text=_('Designates whether this user should be treated as '
                    'active. Unselect this instead of deleting accounts.'))
    date_joined = models.DateTimeField(_('date joined'), default=timezone.now)
-->
<p>TODO: Populate with user data, add permissions to manage who can see
this</p>


{% endblock body %}
